<h1>Chat App Realtime</h1>
<div class="room-section">
    <h2>Tạo phòng chat mới</h2>
    <form action="/chats" method="POST" class="create-room-form">
        <input type="text" name="name" placeholder="Tên phòng..." required>

        <h4>Mời bạn bè:</h4>
        <div class="friends-invite-list">
            <% friends.forEach(friend=> { %>
                <label>
                    <input type="checkbox" name="invited_friends" value="<%= friend.id %>">
                    <%= friend.username %>
                </label>
                <% }) %>
        </div>
        <button type="submit">Tạo phòng</button>
    </form>

    <hr>

    <h2>Tham gia phòng có sẵn</h2>
    <ul class="room-list">
        <% if (chats.length> 0) { %>
            <% chats.forEach(chat=> { %>
                <li>
                    <a href="/chats/<%= chat.id %>">
                        <%= chat.name %>
                    </a>
                </li>
                <% }) %>
                    <% } else { %>
                        <p>Chưa có phòng chat nào. Hãy tạo một phòng mới!</p>
                        <% } %>
    </ul>
</div>