<% layout('layout') %>
<div class="container-fluid">
  <div class="row vh-100">
    <div class="col-md-3 border-end bg-light p-0">
      <div class="p-3 border-bottom">
        <h5>Phòng chat</h5>
        <form id="createRoomForm" class="d-flex mb-2">
          <input class="form-control me-2" name="roomName" placeholder="Tạo phòng mới" required>
          <button class="btn btn-primary"><i class="fa fa-plus"></i></button>
        </form>
        <ul id="roomList" class="list-group"></ul>
      </div>
      <div class="p-3">
        <h5>Bạn bè</h5>
        <ul id="friendList" class="list-group"></ul>
      </div>
    </div>
    <div class="col-md-9 d-flex flex-column p-0">
      <div class="border-bottom p-3 bg-white">
        <span id="currentRoomName" class="fw-bold"></span>
        <span id="roomNotice" class="text-muted ms-3"></span>
      </div>
      <div id="chatBox" class="flex-grow-1 overflow-auto p-3 bg-light"></div>
      <form id="chatForm" class="d-flex border-top p-3 bg-white">
        <input class="form-control me-2" id="chatInput" placeholder="Nhập tin nhắn..." autocomplete="off">
        <button class="btn btn-success"><i class="fa fa-paper-plane"></i></button>
      </form>
    </div>
  </div>
</div>
<script src="/js/chat.js"></script>